<section id='main'>
  <div class='container h-100 d-flex align-items-center'>
    <div class='row'>
      <div class='col'>
        <h1>Welcome to Essay Ranking Website</h1>
        <p>An Accelerated HGX H100 ranking enviroment</p>
      </div>
    </div>

  </div>
</section>